.venv/
/backend/python/Train/runs/
/backend/python/DataCollection/data/
/CLAUDE.md
/.claude/
/GEMINI.md
__pycache__/
*.pyc
yolo11n.pt
yolo11x.pt
yolo11m.pt
yolo26x.pt
yolo26m.pt
yolo26n.pt
app/models/user/
*.onnx
app/data/configs/*
!app/data/configs/Default.json
app/runs/recordings
docs/*
!docs/loc_chart.png